articlesPerPage: 20                           # how many posts to show on each page
fetchWeeks: 4                                 # how many weeks to go back
tagline: |                                    # custom header text (supports HTML)
  ☕ A relaxed feed aggregator powered by GitHub Actions.
feeds:
  - url: https://runtimeterror.dev/feed.xml
  - url: http://blog.jbowdre.lol/feed/
    title: jbowdre's Cool Weblog              # override this title
  - url: https://jbowdre.status.lol/feed