name: Fetch Feeds

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */4 * * *'  # Run every 4 hours
  workflow_dispatch:  # Allow manual trigger

jobs:
  fetch-feeds:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.22'

    - name: Install dependencies
      run: |
        go get github.com/mmcdole/gofeed
        go get golang.org/x/net/html
        go get gopkg.in/yaml.v2

    - name: Run feed fetcher
      run: go run .

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: web
        publish_branch: gh-pages
        cname: ${{ secrets.CNAME }}
